.btn.btn-primary.panel-title {
	float: right;
	color: #fff;
	font-weight: bold;
    padding: 10px;
}
div#cover{
    width: 640px;
    height: 476px;
    position: absolute;
    bottom: 36px;
    background-color: rgba(204,204,204,0.49);
    z-index: 100;
}
.ta-readonly{
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1;
}
.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 400ms ease-in-out all;
    -moz-transition: 400ms ease-in-out all;
    -o-transition: 400ms ease-in-out all;
    transition: 400ms ease-in-out all;
    display: block !important;
}
.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
.cursor-pointer{
  cursor:pointer;
}
.accordion-edit{
    position: relative;
}
div.icon-holder{
    position: absolute;
}
.icon-holder a{
    top:202px;
    font-size:29px;
}
.icon-holder a.right{
    left:490px
}
.label-block label{
    display: block;
}
.btn-eliminar{
    position: absolute;
    top: -55px;
    left: 87%;
}
body {
    font-family: Helvetica,Arial,sans-serif;
}
body.modal-open #mensaje{
    position: fixed;
    z-index: 5000;
    margin-left: 23.5%;
}
.show-inline{
    display: inline-block !important;
}
.ModalArrayList .children {
    list-style-type: none;   
}
.lbl-completed {
  background-image: -webkit-linear-gradient(top, #b2a1c7 0%, #b2a1c7 100%);
  background-image: linear-gradient(to bottom, #b2a1c7 0%, #b2a1c7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2a1c7;
}
/* begin image gallery classes*/
.thumbswrapper li {
    display:inline-block;
}
.thumbswrapper ol{
    padding:0;
    margin:0;
}
.thumbnail {
    height:50px;
    padding:2px;
    margin-left: 10px;
}
.large {
    width:405px;
}

.viewwindow {
    width:400px;
    height:307px;
    overflow-x: hidden;
    position:relative;
}

.fullsizelist{
    position:absolute;
    top:0;
    left:0;
    transition:  left .8s ease;
    -ms-transition:  left .8s ease;
    -o-transition:  left .8s ease;
    -webkit-transition:  left .8s ease;
    -moz-transition:  left .8s ease;
}

.bg {
    background-color:#333;
    padding:10px;
    border-radius:8px;
    float:left;
}


.thumbswrapper {
    overflow-x: hidden;
    margin:20px auto;
}

.thumbwrapper {
    float:left;
    height:100px;
}

/* end image classes*/
/* RESPONSIVE CSS
-------------------------------------------------- */
.ui-helper-hidden-accessible {
    display: none;
}

.borderless td{
    border:none !important;
}

.max-x-600 {
    max-width:600px;
}
.pad-box-15{
    padding: 15px;
}

.max-x-520 {
    max-width:520px;
}
.min-y-300 {
    min-height:300px;
}

.min-y-250 {
    min-height:250px;
}
.margin-B-0 {
    margin-bottom:0px
}
.display-block div{
    display: block;
}
.mar-30{
    float: none;
    margin: 0 30%;
}
.no-padding input, .no-padding select{
    padding: 0;
}
.input-100 input, .input-100 select{
    width: 100%;
}
.form-auto input, .form-auto select{
    width: auto !important;
}
.navbar.navbar-default.navbar-hub{
	border:none
}
.navbar-hub{
    background-color: #d02e10;
    background-image: linear-gradient(0deg, rgba(4, 42, 148, 0.68) 0%,#10a6d0 100%);
}
.navbar-hub a{
    color:white;
    border-left: 1px solid #6485ff;
    border-right: 1px solid #112690;
    padding: 14px 13px !important
}
.navbar-hub a:hover{
    color:rgb(14, 12, 12) !important;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: inherit;
}
a.navbar-brand{  color: white !important}
.navbar-default .navbar-nav > li > a{
    color: white !important;
}
a {
    color: #d02e10;
    text-decoration: none;
}
.navbar-hub .navbar-nav > .active > a, .navbar-hub .navbar-nav > .active > a:hover, .navbar-hub .navbar-nav > .active > a:focus{
    font-weight: bold !important;
    color: white;
    font-size: 1.1em;
    background-color: inherit;
    background-image: linear-gradient(0deg,#10a6d0 100% , rgba(4, 42, 148, 0.68) 0%);
}
.navbar-hub .nav .open > a, .navbar-hub .nav .open > a:hover,.navbar-hub .nav .open > a:focus{
    background-color: #10a6d0;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(0deg,#10a6d0 100% , rgba(4, 42, 148, 0.68) 0%);
}
.navbar-hub .dropdown-menu{
    background-color: #d02e10;
    background-image: linear-gradient(0deg,#10a6d0 100% , rgba(4, 42, 148, 0.68) 0%);
}
.navbar-hub .dropdown-menu a{
    color: white;
}
.no-horz-pad{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
a:hover {
    color: #d02e10;
    text-decoration: none;
}
.panel-heading button{
    bottom: 5px;
    position: relative;
}
.table-noborder > thead > tr > th, .table-noborder > tbody > tr > th, .table-noborder > tfoot > tr > th, .table-noborder > thead > tr > td, .table-noborder > tbody > tr > td, .table-noborder > tfoot > tr > td{
    border:none;
    border-top: none;
}
tr.cursor-pointer {
    cursor: pointer;
}
/* Centra el texto de todas las tablas
td{text-align: center;}
*/
.bg-yellow{background-color: yellow}
.text-AL{text-align:left}
.text-AR{text-align:right}
.text-align-center td, .text-align-center th{text-align: center;}
@media (min-width: 768px) {
    .table-responsive{overflow-x:scroll }
    .paddingT-20{padding-top:20px}
    .marginL-20{margin-left:20px}
    .marginT-20{margin-top:20px}
    .With700{
        min-width: 700px;
    }
    .With1100{min-width:1100px}
    .navbar {
        border-radius: 0;
    }
    .onMobile {
        display: none !important;
        visibility: hidden !important;
    }
    .form-inline .form-group {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
    .form-inline .btn {
        vertical-align: top;
    }
}
/* Large desktop */
@media (min-width: 1200px) {
    .With700{
        min-width: 700px;
    }
    .With1100{min-width:1100px}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .input-width-auto .form-control, .input-width-auto select{
        width: auto !important;
    }
}

		.fixit {
			padding: 0 0 5px 5px;
		}
		
		ul.list-unstyled strong {
			width: 75px;
			display: inline-block;
		}

        .fixit {
            padding: 0 0 5px 5px;
        }
        
        ul.list-unstyled strong {
            width: 75px;
            display: inline-block;
        }
        
/* Centra el texto de todas las tablas
td{text-align: center;}
*/
.bg-yellow{background-color: yellow}
.text-AL{text-align:left}
.text-AR{text-align:right}
.text-align-center td, .text-align-center th{text-align: center;}